
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
 }
.comment .comment-arrow {
  border-color: #ffffff;
}

#page,
#main-wrapper{
  background: #ffffff;
  background-image:url(../images/bg.gif);
}
.tabs ul.primary li a.active {
  
}
.tabs ul.primary li.active a {
  background-color: #c02513;
  
}
#header {
  background-color: trasnparent !important;
  background-image: none !important;
}
a {
  color: #0071B3;
}
a:hover,
a:focus {
  color: #018fe2;
}
a:active {
  color: #23aeff;
}
.sidebar .block {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 0 3px 0 rgba(0,0,0,.3);
}
#page-wrapper,
#footer-wrapper {
  background: #292929;
}
.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a,
#secondary-menu-links li a {
  
}
