
/* ---------- Basic Layout Styles ----------- */

html,
body,
#page  {
  min-height: 100%;
  padding:0px;
  margin:0px;
}
#page-wrapper {
  min-height: 100%;
  min-width: 1130px;
}
#header div.section,
#featured div.section,
#messages div.section,
#main,
#triptych,
#footer-columns,
#footer {
  width: 1130px;
  margin-left: auto;
  margin-right: auto;
}
#header div.section {
  position: relative;
}
.region-header {
  float: right; /* LTR */
  margin: 0 5px 10px;
}
.with-secondary-menu .region-header {
  margin-top: 3em;
}
.without-secondary-menu .region-header {
  margin-top: 15px;
}
#secondary-menu {
  position: absolute;
  right: 0; /* LTR */
  top: 0;
  width: 480px;
}
#content,
#sidebar-first,
#sidebar-second,
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last,
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  display: inline;
  float: left; /* LTR */
  position: relative;
}
.one-sidebar #content {
  width: 850px;
}
.two-sidebars #content {
  width: 480px;
}
.no-sidebars #content {
  width: 1130px;
  float: none;
}
#sidebar-first,
#sidebar-second {
  width: 260px;
}
#main-wrapper {
  min-height: 530px;
  padding-bottom: 40px;
}

/*.sidebar .section {
  padding: 0 15px;
}*/
#breadcrumb {
  margin: 0 15px;
}
.region-triptych-first,
.region-triptych-middle,
.region-triptych-last {
  margin: 20px 20px 30px;
  width: 280px;
}
#footer-wrapper {
  padding:0;
  position:relative;
}
.region-footer-firstcolumn,
.region-footer-secondcolumn,
.region-footer-thirdcolumn,
.region-footer-fourthcolumn {
  padding: 0 10px;
  width: 220px;
}
#footer {
  width: 1130px;
  min-width: 920px;
}


.sticky-fixed {
	position: fixed !important;
	top: 0;
	z-index: 900;
}
#block-block-4.sticky-fixed {
	margin-top: 15px;
}
.sticky-absolute {
	position: relative !important;
	top: auto;
	z-index: 900;
}
.logged-in .sticky-fixed {
  /*top: 64px;*/
  top: 0px;
}
.logged-in.toolbar .sticky-fixed {
  top: 64px;
}
#block-block-4.sticky {
	width: 260px;
	position: relative;
	z-index: 901;
}

