/* ---------- Overall Specifications ---------- */

@font-face {
    font-family: 'OswaldLight';
    src: url('../fonts/Oswald-Light-webfont.eot');
    src: url('../fonts/Oswald-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Light-webfont.woff') format('woff'),
         url('../fonts/Oswald-Light-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Light-webfont.svg#OswaldLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBook';
    src: url('../fonts/Oswald-Regular-webfont.eot');
    src: url('../fonts/Oswald-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Regular-webfont.woff') format('woff'),
         url('../fonts/Oswald-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Regular-webfont.svg#OswaldBook') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OswaldBold';
    src: url('../fonts/Oswald-Bold-webfont.eot');
    src: url('../fonts/Oswald-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Oswald-Bold-webfont.woff') format('woff'),
         url('../fonts/Oswald-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Oswald-Bold-webfont.svg#OswaldBold') format('svg');
    font-weight: normal;
    font-style: normal;

}


* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	line-height: 1.5;
	font-size: 87.5%;
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-family: "OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.0em 0 0.5em;
  font-weight: inherit;
  text-transform:uppercase;
  font-family:"OswaldBold";
}
h1 {
  font-size: 1.357em;
  color: #000;
}
h2 {
  font-size: 1.143em;
  color:#b71d1c;
}
h2 a {
  color:#b71d1c;
}
p {
  margin: 0 0 1.2em;
}
del {
  text-decoration: line-through;
}
tr.odd {
  background-color: #dddddd;
}
img {
  outline: 0;
}
code,
pre,
kbd,
samp,
var {
  padding: 0 0.4em;
  font-size: 0.77em;
  font-family: Menlo, Consolas, "Andale Mono", "Lucida Console", "Nimbus Mono L", "DejaVu Sans Mono", monospace, "Courier New";
}
code {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
}
pre code,
pre kbd,
pre samp,
pre var,
kbd kbd,
kbd samp,
code var {
  font-size: 100%;
  background-color: transparent;
}
pre code,
pre samp,
pre var {
  padding: 0;
}
.description code {
  font-size: 1em;
}
kbd {
  background-color: #f2f2f2;
  border: 1px outset #575757;
  margin: 0 3px;
  color: #666;
  display: inline-block;
  padding: 0 6px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
pre {
  background-color: #f2f2f2;
  background-color: rgba(40, 40, 0, 0.06);
  margin: 10px 0;
  overflow: hidden;
  padding: 15px;
  white-space: pre-wrap;
}

#header {
  background-color: transparent !important;
  background-image: none !important;
  border-top:3px solid #0e0e0e;
}

/* ------------------ Fonts ------------------ */

body,
#site-slogan,
.ui-widget,
.comment-form label {
  font-family: arial;
  font-size:14px;
}
#header,
#footer-wrapper,
#skip-link,
ul.contextual-links,
ul.links,
ul.primary,
.item-list .pager,
div.field-type-taxonomy-term-reference,
div.messages,
div.meta,
p.comment-time,
table,
.breadcrumb {
  font-family: "OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
input,
textarea,
select,
a.button {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

/* ------------------ Reset Styles ------------------ */

caption {
  text-align: left; 
  font-weight: normal;
}
blockquote {
  background: #f2f2f2;
  color: #2b2b2b;
  border: 1px dashed #b4b4b4;
  border-left: 0;
  border-right: 0;
  font-family:"OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 1.5em 15%;
  padding: 20px 25px;
}

blockquote > p:first-child {
  display: inline;
}
a.feed-icon {
  display: inline-block;
  padding: 15px 0 0 0;
}

/* ------------------ Table Styles ------------------ */

table {
  border: 0;
  border-spacing: 0;
  font-size: 0.857em;
  margin: 10px 0;
  width: 100%;
}
table table {
  font-size: 1em;
}
#footer-wrapper table {
  font-size: 1em;
}
table tr th {
  background: #757575;
  background: rgba(0, 0, 0, 0.51);
  border-bottom-style: none;
}
table tr th,
table tr th a,
table tr th a:hover {
  color: #FFF;
  font-weight: bold;
}
table tbody tr th {
  vertical-align: top;
}
tr td,
tr th {
  padding: 4px 9px;
  border: 1px solid #fff;
  text-align: left; 
}
#footer-wrapper tr td,
#footer-wrapper tr th {
  border-color: #555;
  border-color: rgba(255, 255, 255, 0.18);
}
tr.odd {
  background: #e4e4e4;
  background: rgba(0, 0, 0, 0.105);
}
tr,
tr.even {
  background: #efefef;
  background: rgba(0, 0, 0, 0.063);
}
table ul.links {
  margin: 0;
  padding: 0;
  font-size: 1em;
}
table ul.links li {
  padding: 0 1em 0 0;
}

/* ------------------ List Styles ------------------ */

.block ol,
.block ul {
  margin: 0;
  padding: 0 0 0.25em 1em; 
}
.contextual-links-wrapper {
  font-size: small !important;
}
ul.contextual-links {
  font-size: 0.923em;
}
.contextual-links-wrapper a {
  text-shadow: 0 0 0 !important;
}
.item-list .pager {
  font-size: 0.929em;
}
ul.menu li {
  margin: 0;
}
.region-content ul,
.region-content ol {
  margin: 1em 0;
  padding: 0 0 0.25em 2.5em; 
}
.item-list ul li {
  margin: 0;
  padding: 0.2em 0.5em 0 0; 
}
ul.tips {
  padding: 0 0 0 1.25em; 
}

/* ------------------ Header ------------------ */
#skip-link {
  left: 50%;
  margin-left: -5.25em;
  margin-top: 0;
  position: absolute;
  width: auto;
  z-index: 50;
}
#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #444;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: block;
  font-size: 0.94em;
  line-height: 1.7;
  padding: 1px 10px 2px 10px;
  text-decoration: none;
  -khtml-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 0 0 10px 10px;
}
#skip-link a:hover,
#skip-link a:active,
#skip-link a:focus {
  outline: 0;
}
#logo {
  float: left; 
  padding: 15px 15px 0 0; 
}
#name-and-slogan {
  float: left; 
  padding-top: 34px;
  margin: 0 0 30px 15px; 
}
#site-name {
  font-size: 1.821em;
  color: #686868;
  line-height: 1;
}
h1#site-name {
  margin: 0;
}
#site-name a {
  font-weight: normal;
}
#site-slogan {
  font-size: 0.929em;
  margin-top: 7px;
  word-spacing: 0.1em;
  font-style: italic;
}
/* Region header blocks. */
#sidebar-first {
	float:right;
	margin-right: 16px;
}

.region-header .block {
  font-size: 0.857em;
  float: left; 
  margin: 0 10px;
  padding: 0;
}
.region-header .block .content {
  margin: 0;
  padding: 0;
}
.region-header .block ul {
  margin: 0;
  padding: 0;
}
.region-header .block li {
  list-style: none;
  list-style-image: none;
  padding: 0;
}
.region-header .form-text {
  background: #fefefe;
  background: rgba(255, 255, 255, 0.7);
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.3);
  margin-right: 2px; 
  width: 120px;
}
.region-header .form-text:hover,
.region-header .form-text:focus,
.region-header .form-text:active {
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
}
.region-header .form-required {
  color: #eee;
  color: rgba(255, 255, 255, 0.7);
}
/* Region header block menus. */
.region-header .block-menu {
  border: 1px solid;
  border-color: #eee;
  border-color: rgba(255, 255, 255, 0.2);
  padding: 0;
  width: 208px;
}
.region-header .block-menu li a {
  display: block;
  border-bottom: 1px solid;
  border-bottom-color: #eee;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  padding: 3px 7px;
}
.region-header .block-menu li a:hover,
.region-header .block-menu li a:focus,
.region-header .block-menu li a:active {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15);
}
.region-header .block-menu li.last a {
  border-bottom: 0;
}
/* User Login block in the header region */
.region-header #block-user-login {
  width: auto;
}
.region-header #block-user-login .content {
  margin-top: 2px;
}
.region-header #block-user-login .form-item {
  float: left; 
  margin: 0;
  padding: 0;
}
.region-header #block-user-login div.item-list,
.region-header #block-user-login div.description {
  font-size: 0.916em;
  margin: 0;
}
.region-header #block-user-login div.item-list {
  clear: both;
}
.region-header #block-user-login div.description {
  display: inline;
}
.region-header #block-user-login .item-list ul {
  padding: 0;
  line-height: 1;
}
.region-header #block-user-login .item-list li {
  list-style: none;
  float: left; 
  padding: 3px 0 1px;
}
.region-header #block-user-login .item-list li.last {
  padding-left: 0.5em; 
}
.region-header #block-user-login ul.openid-links li.last {
  padding-left: 0; 
}
.region-header #user-login-form li.openid-link a,
.region-header #user-login li.openid-link a {
  padding-left: 20px; 
}
.region-header #block-user-login .form-actions {
  margin: 4px 0 0;
  padding: 0;
  clear: both;
}
.region-header #block-user-login input.form-submit {
  border: 1px solid;
  border-color: #ccc;
  border-color: rgba(255, 255, 255, 0.5);
  background: #eee;
  background: rgba(255, 255, 255, 0.7);
  margin: 4px 0;
  padding: 3px 8px;
}
.region-header #block-user-login input.form-submit:hover,
.region-header #block-user-login input.form-submit:focus {
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
}
/* Search block in region header. */
.region-header #block-search-form {
  width: 208px;
}
.region-header #block-search-form .form-text {
  width: 154px;
}
/* Language switcher block in region header. */
.region-header .block-locale ul li {
  display: inline;
  padding: 0 0.5em;
}

/* --------------- Main Menu ------------ */

#main-menu {
  position:absolute;
  top:56px;
  right:0;
}
#main-menu-links {
  font-size: 0.929em;
  margin: 0;
  padding: 0 15px;
}
#main-menu-links li {
  float: left; 
  list-style: none;
  padding: 0 1px;
  margin: 0 1px;
}
#main-menu-links a {
	color:#3d3d3d;
	background-color: #fff;
	float: left; 
	padding: 0 15px;
	height: 52px;
	line-height: 55px;
	font-size:22px;
	text-decoration: none;
	text-transform:uppercase;
	font-weight: 700;
	box-shadow:0 0 2px #888888;
}
#main-menu-links a:hover,
#main-menu-links a:focus {
  background-color: #383838;
  color:#fff;
  
}
#main-menu-links a:active,
#main-menu-links li a.active {
  background-color: #c02513;
  color:#fff;
}

.featured #main-menu-links li a:active,
.featured #main-menu-links li a.active {
  background: #f0f0f0;
  background: rgba(240, 240, 240, 1.0);
}

/* --------------- Secondary Menu ------------ */

#secondary-menu {
	right: 195px;
}

#secondary-menu-links {
  float: right; 
  font-size: 18px;
  margin: 10px 0 0;
}
#secondary-menu-links li {
  border-right:1px solid #8f8f8f;
  margin: 0;
  padding: 0;
  float: left;
}
#secondary-menu-links li:last-child {
	border: 0;
}
#secondary-menu-links a {
  color: #3a3a3a;
  padding: 0 14px;
}
#secondary-menu-links a:hover {
  color: #bf3228;
  text-decoration: none;
}

/* --------------- Secondary Menu Social Media ------------ */


#block-block-6  {
  position:absolute;
  top:0;
  right:7px;
  padding:5px;
  background-color:#272727;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.5);
}

#block-block-6 a {
	margin-right: 2px;
}
#block-block-6 h2 {position:relative;top:5px;left:0;float:left;color:white;padding:0;margin:0;margin-left:5px;margin-right:10px;}

/* ------------------- Main ------------------- */

#main {
  margin-top: 5px;
}

/* ----------------- Featured ----------------- */

#featured {
  text-align: center;
  font-size: 1.643em;
  font-weight: normal;
  line-height: 1.4;
  padding: 20px 0 45px;
  margin: 0;
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-bottom: 1px solid #e7e7e7;
  text-shadow: 1px 1px #fff;
}
#featured h2 {
  font-size: 1.174em;
  line-height: 1;
}
#featured p {
  margin: 0;
  padding: 0;
}

/* --------------- Highlighted ---------------- */

#highlighted {
  border-bottom: 1px solid #d3d7d9;
  font-size: 120%;
}

/* ------------------- Help ------------------- */

.region-help {
  border: 1px solid #d3d7d9;
  padding: 0 1.5em;
  margin-bottom: 30px;
}

/* ----------------- Content ------------------ */

.content {
  margin-top: 10px;
}
h1#page-title {
	font-size: 34px;
	line-height: 1.2;
}
#content h2 {
  margin-bottom: 2px;
  font-size: 1.429em;
  line-height: 1.4;
}
.node .content {
  font-size: 13px;
  line-height: 1.3;
}
.node-teaser .content {
  font-size: 1em;
}
.node-teaser h2 {
  margin-top: 0;
  padding-top: 0.5em;
}
.node-teaser h2 a {
  color: #181818;
}
.node-teaser {

}
.node-sticky {
  background: #f9f9f9;
  background: rgba(0, 0, 0, 0.024);
  border: 1px solid #d3d7d9;
  padding: 0 15px 15px;
}
.node-full {
  background: none;
  border: none;
  padding: 0;
}
.node-teaser .content {
  clear: none;
  
}
.meta {
  font-size: 0.857em;
  color: #68696b;
  margin-bottom: -5px;
}
.submitted .user-picture img {
  float: left; 
  height: 20px;
  margin: 1px 5px 0 0; 
}
.field-type-taxonomy-term-reference {
	margin: 15px 0;
}
.field-type-taxonomy-term-reference .field-label {
  margin: 0;
  padding-right: 5px; 
}

.field-name-field-category h3,
.field-name-field-category ul.links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2c2c2c;
}
.field-name-field-category li {
	font-weight: normal;
}
.node-teaser .field-type-taxonomy-term-reference .field-label,
.node-teaser .field-type-taxonomy-term-reference ul.links {
  font-size: 0.821em;
}
.field-type-taxonomy-term-reference ul.links {
  padding: 0;
  margin: 0;
  list-style: none;
}
.field-type-taxonomy-term-reference ul.links li {
  float: left; 
  padding: 0 1em 0 0; 
  white-space: nowrap;
}
.link-wrapper {
  text-align: right;
  display:none;
}
.field-type-image img,
.user-picture img {
  margin: 0 0 1em;
}
ul.links {
  color: #68696b;
  font-size: 0.821em;
}
.node-unpublished {
  margin: -20px -15px 0;
  padding: 20px 15px 0;
}
.node-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

.view-homepage-thumbnails-paid-events {
	height: 325px;
	margin-bottom: 70px;
}
#quicktabs-date {
	width: 1114px;
	border-top: 2px dashed #b3b3b3;
	background-image: url(../images/bg.gif);
	padding-bottom: 10px;
	padding-left: 10px;
}

#quicktabs-date > h2 {
	float: left;
	margin: 0;
	margin-right: 10px;
	font-size: 18px;
	color: #3c3c3c;
	line-height: 34px;
	margin-top: 4px;
}
#quicktabs-date ul {
	margin: 0;
	padding: 0;
	margin-left: 45px;
}
#quicktabs-date {
	padding-top: 15px;
}

ul.quicktabs-tabs {
	background-image: url(../images/bg.gif);
	list-style: none;
}

ul.quicktabs-tabs li {
	float: left;
	margin-right: 10px;
}
ul.quicktabs-tabs a {
	display: block;
	height: 34px;
	line-height: 34px;
	border: 1px solid #d8d9db;
	padding: 0 20px;
	color: #2c2c2c;
	font-family: "OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	background-color: #f3f3f5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fafbfd), to(#ececed));
	background-image: -webkit-linear-gradient(top, #fafbfd, #ececed);
	background-image: -moz-linear-gradient(top, #fafbfd, #ececed);
	background-image: -o-linear-gradient(top, #fafbfd, #ececed);
	background-image: -ms-linear-gradient(top, #fafbfd, #ececed);
	background-image: linear-gradient(top, #fafbfd, #ececed);
}

ul.quicktabs-tabs a:hover {
	text-decoration: none;
}
ul.quicktabs-tabs .active a {
	text-decoration: none;
	color: white;
	background-color: #424243;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#373737), to(#4e4e4f));
	background-image: -webkit-linear-gradient(top, #373737, #4e4e4f);
	background-image: -moz-linear-gradient(top, #373737, #4e4e4f);
	background-image: -o-linear-gradient(top, #373737, #4e4e4f);
	background-image: -ms-linear-gradient(top, #373737, #4e4e4f);
	background-image: linear-gradient(top, #373737, #4e4e4f);
}
ul.quicktabs-tabs .last a {
	padding-right: 95px;
	position: relative;
}
ul.quicktabs-tabs .last a:after {
	content: " ";
	width: 20px;
	height: 20px;
	background: url(../images/icon-cal.png) no-repeat bottom right;
	position: absolute;
	right: 15px;
	top: 5px;
}
#date-placeholder {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	width: 0;
	padding: 0;
	margin: 0;
	margin-left: -10px;
	pointer-events: none;
}

ul.quicktabs-tabs .last.active a:after {
	background-position: top right;
}

#ui-datepicker-div {
	z-index: 902 !important;
	background: white;
	border: 0;
}
.ui-datepicker {
	background: white;
	-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.5);
	box-shadow:0px 0px 6px rgba(0,0,0,0.5);
}
.ui-datepicker tr,
.ui-datepicker tr th {
	background: none;
	color: #666666;
}
.ui-datepicker tr:hover {
	background-color: #2b2b2b;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4a4a4a), to(#0d0d0d));
	background-image: -webkit-linear-gradient(top, #4a4a4a, #0d0d0d);
	background-image: -moz-linear-gradient(top, #4a4a4a, #0d0d0d);
	background-image: -o-linear-gradient(top, #4a4a4a, #0d0d0d);
	background-image: -ms-linear-gradient(top, #4a4a4a, #0d0d0d);
	background-image: linear-gradient(top, #4a4a4a, #0d0d0d);
}
.ui-datepicker tr:hover td a {
	color: white;
}
.ui-datepicker th {
	padding: 0;
	font-size: 10px;
}
.ui-datepicker td,
.ui-datepicker td a {
	color: #636363;
	font-size: 11px;
}
.ui-datepicker-calendar {
	font-family: Arial, Helvetica, sans-serif;
}
.ui-datepicker .ui-datepicker-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: black;
	font-weight: bold;
	background: #eeeeee;
	margin: 0;
	line-height: 2.3em;
}
.ui-datepicker .ui-datepicker-group-first {
	border-right: 1px solid #d0d0d0;
}
.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev {
	width: 20px;
	height: 20px;
	top: 17px;
	border:0; font: 0/0 a; text-shadow: none; color: transparent; background-color: transparent;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-next:hover,
.ui-datepicker .ui-datepicker-prev:hover {
	right: 2px;
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-next:after,
.ui-datepicker .ui-datepicker-prev:after {
	content: "\25B6";
	position: absolute;
	top: 0;
	left: 0;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	cursor: pointer;
	color: #af1b1a;
}
.ui-datepicker .ui-datepicker-prev:after {
	content: "\25C0";
}
.ui-datepicker .ui-datepicker-prev:hover {
	right: auto;
	left: 2px;
}

/* ----------------- Comments ----------------- */

.comment h2.title {
  margin-bottom: 1em;
}
.comment div.user-picture img {
  margin-left: 0; 
}
.comment {
  margin-bottom: 20px;
  display: table;
  vertical-align: top;
}
.comment .attribution {
  display: table-cell;
  padding: 0 30px 0 0; 
  vertical-align: top;
  overflow: hidden;
}
.comment .attribution img {
  margin: 0;
  border: 1px solid #d3d7d9;
}
.comment .attribution .username {
  white-space: nowrap;
}
.comment .submitted p {
  margin: 4px 0;
  font-size: 1.071em;
  line-height: 1.2;
}
.comment .submitted .comment-time {
  font-size: 0.786em;
  color: #68696b;
}
.comment .submitted .comment-permalink {
  font-size: 0.786em;
  text-transform: lowercase;
}
.comment .content {
  font-size: 0.929em;
  line-height: 1.6;
}
.comment .comment-arrow {
  background: url(../images/comment-arrow.gif) no-repeat 0 center transparent; 
  border-left: 1px solid;
  border-right: 1px solid;
  height: 40px;
  margin-left: -47px; 
  margin-top: 10px;
  position: absolute;
  width: 20px;
}
.comment .comment-text {
  padding: 10px 25px;
  border: 1px solid #d3d7d9;
  display: table-cell;
  vertical-align: top;
  position: relative;
  width: 100%;
}
.comment .indented {
  margin-left: 40px; 
}
.comment ul.links {
  padding: 0 0 0.25em 0;
}
.comment ul.links li {
  padding: 0 0.5em 0 0; 
}
.comment-unpublished {
  margin-right: 5px; 
  padding: 5px 2px 5px 5px; 
}
.comment-unpublished .comment-text .comment-arrow {
  border-left: 1px solid #fff4f4;
  border-right: 1px solid #fff4f4;
}

/* ------------------ Sidebar ----------------- */
.sidebar .section {
  padding-top: 20px;
}
.sidebar .block {
  border: 1px solid;
  padding: 20px 13px;
  margin: 0 0 20px;
}
.sidebar h2,
.sidebar h2 a {
	margin: 0;
	padding-bottom: 5px;
	text-shadow: 0 1px 0 #fff;
	font-size: 18px;
	color: #3d3d3d;
	line-height: 1.2;
}
.sidebar h2:hover,
.sidebar h2 a:hover {
	text-decoration: none;
	color: #b71d1c
}
.sidebar .block .content {
  font-size: 0.914em;
  line-height: 1.4;
}
.sidebar tbody {
  border: none;
}
.sidebar tr.even,
.sidebar tr.odd {
  background: none;
  border-bottom: 1px solid #d6d6d6;
}
#block-views-blog-block-1 {
	padding-top: 0;
}
#main .block-campaignmonitor {
	margin-bottom: -5px;
	padding-bottom: 5px;

	-webkit-box-shadow: 0 -3px 3px -3px rgba(0,0,0,.3), 3px 0px 3px -3px rgba(0,0,0,.3), -3px 0px 3px -3px rgba(0,0,0,.3);
	box-shadow: 0 -3px 3px -3px rgba(0,0,0,.3), 3px 0px 3px -3px rgba(0,0,0,.3), -3px 0px 3px -3px rgba(0,0,0,.3);
}

#block-views-blog-block-1 {
	-webkit-box-shadow: 0 3px 3px -3px rgba(0,0,0,.3), 3px 0px 3px -3px rgba(0,0,0,.3), -3px 0px 3px -3px rgba(0,0,0,.3);
	box-shadow: 0 3px 3px -3px rgba(0,0,0,.3), 3px 0px 3px -3px rgba(0,0,0,.3), -3px 0px 3px -3px rgba(0,0,0,.3);
	padding-bottom: 25px;
}

#main .block-campaignmonitor h2 {
	color: #3a3a3a;
  /*margin-top: 25px;*/
}
#main .block-campaignmonitor form {
	border-bottom: 2px dashed #b8b8b8;
	padding-bottom: 20px;
}
#main .block-campaignmonitor input {
	display: block;
	width: 100%;
	margin-bottom: 15px;
	font-size: 13px;
	padding: 6px;
	border: 0;
	box-shadow: inset 0 0 5px rgba(0,0,0,.4);
}
#main .block-campaignmonitor input[type="submit"] {
	text-decoration: none;
	box-shadow:0 1px 5px rgba(0,0,0,.5);
	font-size: 20px;
	text-align: center;
	background: #c02513 url(../images/bg-grad-sprite.png) repeat-x left bottom;
	color:#fff;
	border: 0;
	outline: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 10px 5px;
	cursor: pointer;
	font-family: "OswaldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#main .block-campaignmonitor input[type="submit"]:hover {
	background: #c02513 url(../images/bg-grad-sprite.png) repeat-x top left;
}

#block-block-4 {
	margin-top: 60px;
}
#block-block-4 .event-type a {
	display: block;
	padding-left: 25px;
	background: url(../images/select.png) no-repeat bottom left;
	margin-bottom: 12px;
  display: block;
	font-family: "OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #2c2c2c;
}
#block-block-4 .event-type a.selected {
	background-position: top left;
}
#block-block-4 .event-type a img {
	margin-bottom: -5px;
	padding-left: 5px;
}

#block-block-4 h2:first-child {
	background: #3c3c3c;
	margin: -21px -14px 0px -14px;
	padding: 10px 13px;
	font-size: 24px;
	color: #fff;
	text-shadow: 0;
}

.view-events  ul li.taxonomy-term-reference-0 {
	padding-left: 5px;
	margin-top: -3px;
}

/* ----------------- Triptych ----------------- */

#triptych-wrapper {
  background-color: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
  border-top: 1px solid #e7e7e7;
}
#triptych h2 {
  color: #000;
  font-size: 1.714em;
  margin-bottom: 0.8em;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
  line-height: 1;
}
#triptych .block {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #dfdfdf;
  line-height: 1.3;
}
#triptych .block.last {
  border-bottom: none;
}
#triptych .block ul li,
#triptych .block ol li {
  list-style: none;
}
#triptych .block ul,
#triptych .block ol {
  padding-left: 0;
}
#triptych #block-user-login .form-text {
  width: 185px;
}
#triptych #block-user-online p {
  margin-bottom: 0;
}
#triptych #block-node-syndicate h2 {
  overflow: hidden;
  width: 0;
  height: 0;
}
#triptych-last #block-node-syndicate {
  text-align: right;
}
#triptych #block-search-form .form-type-textfield input {
  width: 185px;
}
#triptych-middle #block-system-powered-by {
  text-align: center;
}
#triptych-last #block-system-powered-by {
  text-align: right;
}

/* ------------------ Footer ------------------ */

#footer-wrapper {
  color: white;
  font-size: 13px;
}
#footer-wrapper a {
	text-decoration: underline;
}
#footer-wrapper a:hover {
  text-decoration: none;
  color: #ffa54a;
}
#footer-wrapper .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}
#footer-columns .block-menu,
#footer .block {
  margin: 0;
  padding: 0;
  border: none;
}
#footer .block-block-2 {
  float:right;
}
#footer #block-menu-menu-footer-menu {
  float:left;
  width:300px;
}
#footer .block .content {
  
  margin-top: 0;
}
#footer .block h2 {
  margin: 0;
}
#footer-columns h2 {
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  font-size: 1em;
  margin-bottom: 0;
  padding-bottom: 3px;
  text-transform: uppercase;
}
#footer-columns .content {
  margin-top: 0;
}
#footer-columns p {
  margin-top: 1em;
}
#footer-columns .content ul {
  list-style: none;
  padding-left: 0; 
  margin-left: 0;
}
#footer-columns .content li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer-columns .content li a {
  display: block;
  border-bottom: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
  line-height: 1.2;
  padding: 0.8em 2px 0.8em 20px; 
  text-indent: -15px;
}
#footer-columns .content li a:hover,
#footer-columns .content li a:focus {
  background-color: #1f1f21;
  background-color: rgba(255, 255, 255, 0.05);
  text-decoration: none;
}
#footer {
  margin-top: 0px;
  border-top: 1px solid #555;
  border-color: rgba(255, 255, 255, 0.15);
}
#footer h2 { 
  display:none;
}
#footer .region {
  margin-top: 15px;
}
#footer .block {
  
}

#footer #block-block-2 {
	float:left;
	margin-right: 10px;
}
#footer ul,
#footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footer li a {
  float: left; 
  padding: 0 12px;
  display: block;
  border-right: 1px solid #a3a3a3; 
  color: white;
}
#footer li.first a {
  padding-left: 0; 
}
#footer li.last a {
  padding-right: 0; 
  border-right: none; 
}
#footer-wrapper tr.odd {
  background-color: transparent;
}
#footer-wrapper tr.even {
  background-color: #2c2c2c;
  background-color: rgba(0, 0, 0, 0.15);
}

/* --------------- System Tabs  --------------- */

.tabs {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; 
  vertical-align: bottom;
  margin: 0 5px 0 0; 
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  color: #000;
  background-color: #ededed;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 0.929em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
  text-shadow: 0 1px 0 #fff;
  -khtml-border-radius-topleft: 6px;
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -khtml-border-radius-topright: 6px;
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; 
}
.tabs ul.secondary li:last-child {
  border-right: none; 
}
.tabs ul.secondary li:first-child {
  padding-left: 0; 
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}
ul.action-links li a {
  padding-left: 15px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* ---------------- Messages  ----------------- */

#messages {
  padding: 20px 0 5px;
  margin: 0 auto;
}
.featured #messages {
  background: #f0f0f0;
  background: rgba(30, 50, 10, 0.08);
}
div.messages {
  margin: 8px 15px;
}

/* -------------- Breadcrumbs   -------------- */

.breadcrumb {
  font-size: 0.929em;
  display:none;
}

/* -------------- User Profile   -------------- */

.profile .user-picture {
  float: none;
}

/* -------------- Password Meter  ------------- */

.confirm-parent,
.password-parent {
  width: 34em;
}
.password-parent,
div.form-item div.password-suggestions {
  position: relative;
}
.password-strength-text,
.password-strength-title,
div.password-confirm {
  font-size: 0.82em;
}
.password-strength-text {
  margin-top: 0.2em;
}
div.password-confirm {
  margin-top: 2.2em;
  width: 20.73em;
}

/* ---------------- Buttons    ---------------- */

input.form-submit,
a.button {
  background: #fff url(../images/buttons.png) 0 0 repeat-x;
  border: 1px solid #e4e4e4;
  border-bottom: 1px solid #b4b4b4;
  border-left-color: #d2d2d2;
  border-right-color: #d2d2d2;
  color: #3a3a3a;
  cursor: pointer;
  font-size: 0.929em;
  font-weight: normal;
  text-align: center;
  margin-bottom: 1em;
  margin-right: 0.6em; 
  padding: 4px 17px;
  -khtml-border-radius: 15px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
a.button:link,
a.button:visited,
a.button:hover,
a.button:focus,
a.button:active {
  text-decoration: none;
  color: #5a5a5a;
}

/* -------------- Form Elements   ------------- */

fieldset {
  background: #ffffff;
  border: 1px solid #cccccc;
  margin-top: 10px;
  margin-bottom: 32px;
  padding: 0 0 10px;
  position: relative;
  top: 12px; /* Offsets the negative margin of legends */
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.fieldset-wrapper {
  margin-top: 25px;
}
.node-form .vertical-tabs .fieldset-wrapper {
  margin-top: 0;
}
.filter-wrapper {
  top: 0;
  padding: 1em 0 0.2em;
  -khtml-border-radius-topright: 0;
  -khtml-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.filter-help a {
  font-size: 0.857em;
  padding: 2px 20px 0;
}
.filter-wrapper .form-item label {
  margin-right: 10px;
}
.filter-wrapper .form-item {
  padding: 0 0 0.5em 0.5em;
}
.filter-guidelines {
  padding: 0 1.5em 0 0.5em;
}
fieldset.collapsed {
  background: transparent;
  -khtml-border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
fieldset legend {
  background: #dbdbdb;
  border: 1px solid #ccc;
  border-bottom: none;
  color: #3b3b3b;
  display: block;
  height: 2em;
  left: -1px; 
  font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
  line-height: 2;
  padding: 0;
  position: absolute;
  text-indent: 10px;
  text-shadow: 0 1px 0 #fff;
  top: -12px;
  width: 100%;
  -khtml-border-radius-topleft: 4px;
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
fieldset.collapsed legend {
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
fieldset legend a {
  color: #3b3b3b;
}
fieldset legend a:hover,
fieldset legend a:focus,
fieldset legend a:active {
  color: #000;
}
fieldset .fieldset-wrapper {
  padding: 0 10px;
}
fieldset .fieldset-description {
  margin-top: 5px;
  margin-bottom: 1em;
  line-height: 1.4;
  color: #3c3c3c;
  font-style: italic;
}
input {
  margin: 2px 0;
  padding: 4px;
}
textarea {
  line-height: 1.5;
}
textarea.form-textarea,
select.form-select {
  padding: 4px;
}
input.form-text,
textarea.form-textarea,
select.form-select {
  border: 1px solid #ccc;
}
input.form-submit:hover,
input.form-submit:focus {
  background: #dedede;
}
.password-suggestions ul li {
  margin-left: 1.2em; 
}
.form-item {
  margin-bottom: 1em;
  margin-top: 2px;
}
.form-item label {
  font-size: 0.929em;
}
.form-type-radio label,
.form-type-checkbox label {
  margin-left: 4px;
}
.form-type-radio .description,
.form-type-checkbox .description {
  margin-left: 2px;
}
.form-actions {
  padding-top: 10px;
}
/* Contact Form */
.contact-form #edit-name {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-mail {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-subject {
  width: 75%;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.contact-form #edit-message {
  width: 76.3%;
  -khtml-border-top-left-radius: 4px;
  -khtml-border-top-right-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.contact-form .resizable-textarea .grippie {
  width: 76%;
  -khtml-border-bottom-left-radius: 4px;
  -khtml-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* Disabled form elements */
input.form-button-disabled,
input.form-button-disabled:hover,
input.form-button-disabled:focus,
input.form-button-disabled:active,
.form-disabled input,
.form-disabled select,
.form-disabled textarea {
  background: #ededed;
  border-color: #bbb;
  color: #717171;
}
.form-disabled .grippie {
  background-color: #ededed;
  border-color: #bbb;
}
.form-disabled label {
  color: #717171;
}

/* Animated throbber */
html.js input.form-autocomplete {
  background-position: 100% 4px; 
}
html.js input.throbbing {
  background-position: 100% -16px; 
}

/* Comment form */
.comment-form label {
  float: left; 
  font-size: 0.929em;
  width: 120px;
}
.comment-form input,
.comment-form .form-select {
  margin: 0;
  -khtml-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.comment-form .form-type-textarea label {
  float: none;
}
.comment-form .form-item,
.comment-form .form-radios,
.comment-form .form-type-checkbox,
.comment-form .form-select {
  margin-bottom: 10px;
  overflow: hidden;
}
.comment-form .form-type-checkbox,
.comment-form .form-radios {
  margin-left: 120px; 
}
.comment-form .form-type-checkbox label,
.comment-form .form-radios label {
  float: none;
  margin-top: 0;
}
.comment-form input.form-file {
  width: auto;
}
.no-sidebars .comment-form .form-text {
  width: 800px;
}
.one-sidebar .comment-form .form-text {
  width: 500px;
}
.two-sidebars .comment-form .form-text {
  width: 320px;
}
.comment-form .form-item .description {
  font-size: 0.786em;
  line-height: 1.2;
  margin-left: 120px; 
}
#content h2.comment-form {
  margin-bottom: 0.5em;
}
.comment-form .form-textarea {
  -khtml-border-radius-topleft: 4px;
  -khtml-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-left-radius: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.comment-form fieldset.filter-wrapper .fieldset-wrapper,
.comment-form .text-format-wrapper .form-item {
  margin-top: 0;
  margin-bottom: 0;
}
.filter-wrapper label {
  width: auto;
  float: none;
}
.filter-wrapper .form-select {
  min-width: 120px;
}
.comment-form fieldset.filter-wrapper .tips {
  font-size: 0.786em;
}
#comment-body-add-more-wrapper .form-type-textarea label {
  margin-bottom: 0.4em;
}
#edit-actions input {
  margin-right: 0.6em; 
}

/* -------------- Other Overrides ------------- */

div.password-suggestions {
  border: 0;
}
.ui-widget-overlay {
  background: #222222;
  opacity: 0.7;
}
div.vertical-tabs .vertical-tabs-panes fieldset.vertical-tabs-pane {
  padding: 1em;
}
#forum .name {
  font-size: 1.083em;
}
#forum .description {
  font-size: 1em;
}

/* --------------- Search Form ---------------- */

#block-search-form {
  padding-bottom: 7px;
}
#block-search-form .content {
  margin-top: 0;
}
#search-form input#edit-keys,
#block-search-form .form-item-search-block-form input {
  float: left; 
  font-size: 1em;
  height: 1.143em;
  margin-right: 5px;
  width: 9em;
}
#search-block-form input.form-submit,
#search-form input.form-submit {
  margin-left: 0;
  margin-right: 0;
  height: 25px;
  width: 34px;
  padding: 0;
  cursor: pointer;
  text-indent: -9999px;
  border-color: #e4e4e4 #d2d2d2 #b4b4b4;
  background: url(../images/search-button.png) no-repeat center top;
  overflow: hidden;
}
#search-block-form input.form-submit:hover,
#search-block-form input.form-submit:focus,
#search-form input.form-submit:hover,
#search-form input.form-submit:focus {
  background-position: center bottom;
}
#search-form .form-item-keys label {
  display: block;
}

/* --------------- Search Results ---------------- */
ol.search-results {
  padding-left: 0;
}
.search-results li {
  border-bottom: 1px solid #d3d7d9;
  padding-bottom: 0.4285em;
  margin-bottom: 0.5em;
}
.search-results li:last-child {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 1em;
}
.search-results .search-snippet-info {
  padding-left: 0;
}

/* -------------- Shortcut Links -------------- */

.shortcut-wrapper {
  margin: 2.2em 0 1.1em 0; /* Same as usual h1#page-title margin. */
}
.shortcut-wrapper h1#page-title {
  float: left; 
  margin: 0;
}
div.add-or-remove-shortcuts {
  padding-top: 0.9em;
}
.overlay div.add-or-remove-shortcuts {
  padding-top: 0.8em;
}

/* ---------- Admin-specific Theming ---------- */

.page-admin #content img {
  margin-right: 15px; 
}
.page-admin #content .simpletest-image img {
  margin: 0;
}
.page-admin-structure-block-demo .block-region {
  background: #ffff66;
  border: 1px dotted #9f9e00;
  color: #000;
  font: 90% "Lucida Grande", "Lucida Sans Unicode", sans-serif;
  margin: 5px;
  padding: 5px;
  text-align: center;
  text-shadow: none;
}
.page-admin-structure-block-demo #featured .block-region {
  font-size: 0.55em;
}
.page-admin-structure-block-demo #header .block-region {
  width: 500px;
}
.page-admin #admin-dblog img {
  margin: 0 5px;
}
/* Fix spacing when Seven is used in the overlay. */
#system-theme-settings fieldset {
  padding: 0;
}
#system-theme-settings fieldset .fieldset-legend {
  margin-top: 0;
}
/* Configuration. */
div.admin .right,
div.admin .left {
  width: 49%;
  margin: 0;
}
div.admin-panel {
  background: #fbfbfb;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 0 5px 5px;
}
div.admin-panel h3 {
  margin: 16px 7px;
}
div.admin-panel dt {
  border-top: 1px solid #ccc;
  padding: 7px 0 0;
}
div.admin-panel dd {
  margin: 0 0 10px;
}
div.admin-panel .description {
  margin: 0 0 14px 7px;
}

/* ---------- Overlay layout styles ----------- */

.overlay #main,
.overlay #content {
  width: auto;
  float: none;
}
.overlay #page {
  padding: 0 2em;
}
.overlay .region-page-top,
.overlay #header,
.overlay #page-title,
.overlay #featured,
.overlay #sidebar-first,
.overlay #triptych-wrapper,
.overlay #footer-wrapper {
  display: none;
}
.overlay-processed .field-type-image {
  display: block;
  float: none;
}
.overlay #messages {
  width: auto;
}

/* ---------- Poll ----------- */

.node .poll {
  margin: 2em 0;
}
.node .poll #edit-choice {
  margin: 0 0 1.5em;
}
.poll .vote-form {
  text-align: left; 
}
.poll .vote-form .choices {
  margin: 0;
}
.poll .percent {
  font-size: 0.857em;
  font-style: italic;
  margin-bottom: 3em;
  margin-top: -3.2em;
  float: right;
  text-align: right;
}
.poll .text {
  clear: right;
  margin-right: 2.25em;
}
.poll .total {
  font-size: 0.929em;
  font-style: italic;
  text-align: right; 
  clear: both;
}
.node .poll {
  margin: 1.8em 0 0;
}
.node .poll .text {
  margin-right: 6.75em;
}
.node .poll #edit-choice {
  margin: 0 0 1.2em;
}
.poll .bar .foreground {
  background-color: #666;
}
#footer-wrapper {
background-color:#272727 !important;
}
#footer-wrapper .poll .bar {
  background-color: #666;
}
#footer-wrapper .poll .bar .foreground {
  background-color: #ddd;
}

/* ---------- Paid Event Top styles ----------- */

#block-views-blog-block-1 .submitted {
display:none;
}

#block-views-blog-block-1 .more-link {
	color: #b71d1c;
	display: block;
	margin-top: 10px;
	text-align: left;
}

.event-category a {

}

.event-type span {
background-image:url(../images/checkbox.gif);

}
.event-category a {float:left;display:block;margin:5px;color:black;padding:0 5px;font-size:80%;}
.event-category a.selected {color:white;border-radius:8px;background-color:#4c4c4c;}
.event-category a:hover {
	background: #e8e8e8;
	text-decoration: none;
	border-radius:8px;
	color: black;
}


.view-homepage-thumbnails-paid-events .node  {
  float:left;
  width:260px;
  height:325px;
  margin-right:25px;
  background-color:#393939;
  color:white;
  position:relative;
  cursor:pointer;
  
}
.view-homepage-thumbnails-paid-events .views-row-last .node  {
  margin-right:0px;
}
.view-homepage-thumbnails-paid-events .node  h2 {
  margin-top:175px;
  padding-left:13px;
  height:60px;
  color:#fff;
  line-height: 1.2 !important;
  padding-right: 13px;
}
.view-homepage-thumbnails-paid-events .node  h2 a {
  color:#fff;
}

.view-homepage-thumbnails-paid-events .node .date-display-single {
  padding-left:13px;
}

.view-homepage-thumbnails-paid-events .node .node-readmore {
  display:none;
}

.view-homepage-thumbnails-paid-events .datestart {
	color:#ffa839;
}
.view-homepage-thumbnails-paid-events .timestart {
	display:none;
}

.view-homepage-thumbnails-paid-events .submitted {
	display:none;
}
.view-homepage-thumbnails-paid-events .field-name-field-image {
  width:260px;
  height:173px;
  position:absolute;
  top:0;
  overflow: hidden;
}
.view-homepage-thumbnails-paid-events .field-name-field-image img {
	width: 260px;
	height: auto;
	position: absolute;
	top: 50%;
	margin-top: -125px;
}

.view-homepage-thumbnails-paid-events img:nth-child(2) {
  display:none;
}

.view-homepage-thumbnails-paid-events .field-type-text-with-summary {
  display:none;
}

.view-homepage-thumbnails-paid-events .taxonomy-term-reference-0 {
	position:absolute;
	top:22px;
	left:0px;
	height:32px;
	width:62px;
	background-color:#383838;
	background-image:url(../images/big-star.png);
	background-repeat:no-repeat;
	background-position:37px 6px;
}
.view-homepage-thumbnails-paid-events .taxonomy-term-reference-0  img {
	padding-top:3px;
	padding-left:5px;
}


/* ---------- Homepage All Listing styles ----------- */

#edit-submit-events {
	display: block !important;
}

.field-event-location {
  display: none;
}

.view-events {
	clear:both;
	padding-top:20px;
}


.social-links {
margin-right:4px;
float:left;
}

.social-links a {
	float:left;
	display:block;
	color:#3d3d3d;
	font-family: "OswaldLight", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin-right: 10px;
}
.social-links a:hover {
	color:#3d3d3d;
}
.social-links a.social-text {
	margin-top: 2px;
}
.view-events .views-row .submitted {
	position:absolute;
	bottom:6px;
	right:3px;
	display:none;
}

.view-events h2,
.view-homepage-thumbnails-paid-events h2 {
  font-size: 1.2em !important;
}

.view-events .node-free-event-listing,
.view-events .node-paid-event-listing {
  position:relative;
  padding:0;
  margin:0;
}
.view-events .node-teaser {
	border-bottom: 2px dashed #A3A3A3;
}

.view-events .views-row-first .node-teaser {
	border-top: 2px dashed #A3A3A3;
}

.view-events .link-wrapper {
  display:none;
}

/* ---------- Homepage - Free Listing styles ----------- */

.view-events .node-free-event-listing {
  height:85px;
  overflow:hidden;
  cursor:pointer;
  width: 830px;
}
.view-events .node-free-event-listing:hover {
	background: #f2f2f2;
}
.view-events .node-paid-event-listing {
	border-bottom: 0;
}

.view-events .node-free-event-listing  h2 {
  position:absolute;
  top:30px;
  left:0;
}

.view-events .node-free-event-listing .datestart {
	color:#c71d04;
}

.view-events .node-free-event-listing  h2,
.view-events .node-free-event-listing  .content{
  margin-left:70px;
}

.view-events .node-free-event-listing .field-name-field-image img {
  position:absolute;
  top:10px;
  left:0;
  height:60px;
  width:60px;
}
.view-events .field-name-field-date-time {
	float:left;
	padding-bottom:20px;
}

/* ---------- Homepage - Paid Listing styles ----------- */

.field-name-field-buy-ticket-link {
  display:none;
}

.view-events .views-row .featured {
	position:absolute;
	top:7px;
	right:7px;
	height:26px;
}
.view-events .views-row .featured .text {
	display:none;
	padding-top:3px;
	padding-left:7px;
	padding-right: 20px;
	font-weight: 700;
	float:left;
	margin-right: -21px;
}

.view-events .node-paid-event-listing .datestart,
.view-events .node-paid-event-listing .timestart,
.view-events .node-free-event-listing .datestart,
.view-events .node-free-event-listing .timestart,
.view-events .node-free-event-listing  .date-display-single,
.view-events .node-free-event-listing .field-item {
	color: #b31c1b;
	font-family:"OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
}
.view-events .node-paid-event-listing .timestart {
	color: white;
}
.view-events .node-free-event-listing .timestart,
.view-events .node-free-event-listing .field-item {
	color: #3c3c3c;
}
.view-events .node-paid-event-listing .datestart {
	color: #ffa54a;
}

.view-events .node-free-event-listing h2 {
	color: #3c3c3c;
}

.view-events .node-paid-event-listing .content {
	padding-right: 10px;
}

.view-events .views-row .featured .image {
  background-image:url(../images/icon0.png);
  height:24px;
  width:24px;
  display:block;
  float:right;
  margin-top: 2px;
}
.view-events .node-teaser.node-paid-event-listing h2 {
	padding: 0;
	margin: 0;
}

.view-events .node-paid-event-listing {
  background-color:#393939;
  height:147px;
  color:#fff;
  cursor:pointer;
  overflow:hidden;
  width: 830px;
}
.view-events .node-paid-event-listing .submitted {
	color:white;
}
.view-events .node-paid-event-listing  h2,
.view-events .node-paid-event-listing  .content {
  margin-left:145px;
  margin-top:0;
}

.view-events .node-teaser.node-paid-event-listing  h2 a {
  color:#fff !important;
  position:absolute;
  top:40px;
  left:0;
  margin-left:145px;
  }

.view-events .node-paid-event-listing .field-name-field-image {
  position:absolute;
  top:10px;
  left:10px;
  height:125px;
  width:125px;
  overflow: hidden;
}
.view-events .node-paid-event-listing .field-name-field-image img {
	width: 125px;
	height: 125px;
}

.view-events .node-paid-event-listing .field-event-location, .view-events .node-free-event-listing .field-event-location {  
  float: left;
  display: block;
}

.view-events .node-paid-event-listing .field-event-location .field-item,
.view-events .node-free-event-listing .field-event-location .field-item {
  color:#c71d04;
}

.purchase-tickets {
  float: right;
	color:#262626;
	text-align:center;
	line-height: 43px;
	cursor:pointer;
	font-size:19px;
	font-family:"OswaldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	width:235px;
	height:40px;
	background:url("../images/purchase-tickets-bg-sprite.png") repeat-x bottom left;
}

.purchase-tickets:hover {
	background:url("../images/purchase-tickets-bg-sprite.png") repeat-x top left;
  color: #262626;
  text-decoration: none;
}

.views-row .purchase-tickets {
  float: none;
	margin-left:13px;
	position:relative;
	top: -20px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.90);
	box-shadow: 0 2px 5px rgba(0,0,0,.90);

}
.node-paid-event-listing.node-promoted .date-display-single {
	font-family: "OswaldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.node-type-event-listing .purchase-tickets {
box-shadow:2px 2px 2px #888888;
}

.view-homepage-thumbnails-paid-events .node:hover .datestart {
	color: white;
}
/* ---------- Subpage - All Listing styles ----------- */

.phone-reservation {
  color:#3d3d3d;
  font-family:arial;
  font-size:13px;
  }

.social-heading {
	font-size: 18px;
	color: #2a2a2a;
}

.more_posts_by {cursor:pointer;padding-top:7px;padding-bottom:7px;border-bottom:1px #A3A3A3 dashed;}
.more_posts_by:hover {
	background: #f2f2f2;
}
.more_posts_by_heading {
	border-bottom: 1px dashed #b4b4b4;
	margin-bottom: 0;
	padding-bottom: 5px;
	font-size: 24px;
	color: #262626;
	padding-top: 20px;
}
#content .more_posts_by:first-child {
	padding-top: 0;
}

.more_posts_by .datetime {
	font-size: 14px;
	margin-left: 70px;
	padding-top: 5px;
	font-family: "OswaldBook";
	color: #C02415;
}
.more_posts_by .datetime .time {
	color: #3c3c3c;
}

.more_posts_by h3 {
    margin-top: 4px;
    margin-left: 70px;
	color:black;
} 
.more_posts_by a h3 {
	text-decoration: none;
}
.more_posts_by a:hover,
.more_posts_by a:active {
	text-decoration: none;
}
.more_posts_by img {
    float: left;
    height: 60px;
    width: 60px;
    margin-left: 3px;
}
.node-type-event-listing #sidebar-first {
  display:none;
}
.node-type-event-listing #content .section {
	position: relative;
}
.node-type-event-listing h1#page-title {
	margin-top: 0;
}
.node-type-event-listing #content h2.event-subtitle {
	color: #3d3d3d;
	font-weight: 400;
	font-size: 22px;
	width: 540px;
}
.node-type-event-listing #back {
	display: block;
	margin-top: 12px;
	color: #2c2c2c;
	font-size: 12px;
	background: url(../images/back-arrow-sprite.png) no-repeat bottom left;
	background-position: 0 -13px;
	padding-left: 17px;
}
.node-type-event-listing #back:hover {
	color: #b71d1c;
	text-decoration: none;
	background: url(../images/back-arrow-sprite.png) no-repeat top left;
	background-position: 0 3px;
}
.node-type-paid-event-listing #back {
	margin-top: -13px;
}

.node-type-free-event-listing.node-type-event-listing #back {
	margin-bottom: 6px;
	margin-top: -13px;
}
.node-type-event-listing #back img {
	padding-right: 5px;
}
/*.node-type-event-listing .field-name-field-location,*/
.node-type-event-listing .statistics_counter,
.node-type-event-listing .submitted ,
.node-type-event-listing .submitted .user-picture img {
display:none;
}
.field-name-field-location {
clear:left;
}

.node-type-event-listing #content {
  width: 1112px;
  min-height:600px;
}

.node-type-event-listing .field-name-field-sale-end-date {
	position:absolute;
	top:30px;
	right: 15px;
	width:550px;
	height:44px;
	background-color:#262626;
	color:#fff;
	font-family: "OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 44px;
	padding-left:10px;
	font-size: 18px;
}
.node-type-free-event-listing .phone-reservation {
	position: absolute;
	left: 576px;
	top: 342px;
	width: 525px;
	text-align: center;
}
.node-type-free-event-listing .free-google-map,
.node-type-paid-event-listing .free-google-map {
	position: absolute;
	top: 74px;
	right: 286px;
}
.node-type-paid-event-listing .free-google-map {
	top: 420px;
}
.event-status {
	font-weight: 700;
}
.node-type-event-listing #map_canvas {
  height:212px;
  width:267px;
}
.node-type-event-listing .needs-map {
  background-image:url(../images/map.jpg);
}


.node-type-event-listing .field-name-body   {
width:520px;
}

.node-type-free-event-listing h1#page-title {
	font-size: 22px;
	color: #3d3d3d;
	border-bottom: 2px dashed #b8b8b8;
	padding-bottom: 16px;
	width: 540px;
	margin-bottom: 0;
}
.node-type-free-event-listing .purchase-tickets,
.node-type-paid-event-listing .purchase-tickets {
	/*line-height: 56px;
	height: 53px;*/
	-webkit-box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
	box-shadow: 0 1px 5px 0 rgba(0,0,0,.3);
}

#single-event-stuff.free .event-type {
	display: inline-block;
	color: #3d3d3d;
	font-size: 14px;
	text-transform: uppercase;
	font-family: "OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 8px;
}
#single-event-stuff.free .event-type img {
	margin-bottom: -2px;
}
#single-event-stuff.paid .event-type {
	font-size: 18px;
}

#single-event-stuff.free .event-day-heading {
	color: #b71d1c;
	font-size: 16px;
	font-family: "OswaldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: inline-block;
}
#single-event-stuff.paid .event-day-heading {
	font-size: 22px;
}
#single-event-stuff.free .event-details {
	font-family: "OswaldBook", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	width: 550px;
}
#single-event-stuff.paid .event-details {
	font-size: 18px;
	width: 550px;
}
#single-event-stuff.free .categories {
	font-size: 12px;
	margin-top: 10px;
}
#single-event-stuff.free .categories span {
	padding-right: 5px;
	display: inline-block;
}

#single-event-stuff.paid {
	border-top: 2px dashed #b8b8b8;
	width: 540px;
	margin-top: 15px;
	clear: both;
}
.event-content {
	margin-top: 15px;
	width: 540px;
}

/* ---------- Subpage - Paid Listing styles ----------- */

.user-image {
	float:left;
	width:150px;
	height: 150px;
	margin-right:15px;
	padding-bottom: 15px;
	margin-bottom: 20px;
	margin-top: 5px;
	overflow: hidden;
	background: white;
	-webkit-box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
	box-shadow: 0 0 4px 0 rgba(0,0,0,.3);
}
.user-image img {
	width: 150px;
	height: auto;
}
.haslogo .field-name-field-logo {
  position:absolute;
  top:20px;
  left:20px;
}

.haslogo .field-name-field-logo img {
  width:150px;
  height:150px;
}

.haslogo #page-title,
.user-image + #page-title {
	width:530px;
}

.field-name-field-subtitle {
	width:520px;
	font-size: 22px;
	font-family:"OswaldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	margin-bottom: 20px;
}
.node-type-paid-event-listing .content {
	margin-top: 0;
}
.node-type-paid-event-listing #page-title {
	max-width: 540px;
}
.more_posts_by-wrapper {
	min-height: 300px;
}

.node-type-event-listing .field-name-field-date-time {
  display: block;
  border-top: 2px dashed #b8b8b8;
  padding-top: 16px;
  width: 540px;
}
.node-type-event-listing .field-name-field-event-type {
  
  float:left;
}

.node-type-event-listing .field-name-field-date-time .date-display-single  {
	text-transform:uppercase;
	font-weight: 700;
	color:#c02415;
}
.node-type-event-listing .field-name-field-date-time .timestart {

}
/*
.has-big-image .submitted  {
	position:absolute;
	top:160px;
	right:570px;
	display:none;
}
*/

.has-big-image .field-name-field-image {
position:absolute;
top:74px;
right: 15px;
}
.has-big-image .field-name-field-image img{
width:550px;
height:325px;
}

.has-big-image .field-name-field-image-2 {
position:absolute;
	top:410px;
	right: 15px;
}
.has-big-image .field-name-field-image-2 img{
width:263px;
height:212px;
}

.has-big-image .field-name-field-price {
	position:absolute;
	top: 634px;
	left: 566px;
	right:auto;
	padding: 10px 13px 33px 13px;
	background: white;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, .14);	
	width: 549px;
}
.field-name-field-price h3 {
  float: left;
  padding:0;
  margin:0;
  color: #3d3d3d;
  font-size:24px;
}


.has-big-image .phone-reservation,
.node-type-paid-event-listing .phone-reservation {
	position:absolute;
	top: 683px;
	left: 596px;
	right:auto;
}
.has-big-image #map_canvas {
  position:absolute;
  top:410px;
  right: 297px;
}
.field-name-field-category,
.field-name-body  {
clear:left;
}

/* ---------- Subpage - Free Listing styles ----------- */

.has-no-big-image .field-name-field-image {
	position:absolute;
	top: 89px;
	right: 15px;
}
.has-no-big-image .field-name-field-image img{
width:263px;
height:212px;
}

.has-no-big-image .field-name-field-price {
  position:absolute;
  top: 315px;
  right: 15px;
  width: 549px;
  padding: 10px 13px 33px 13px;
  background: white;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.14);
}

.has-no-big-image #map_canvas {
  position:absolute;
  top:89px;
  right: 297px;
}

.node-type-free-event-listing .field-name-field-price {
	padding-bottom: 10px;
}
.node-type-free-event-listing .field-name-field-price h3 {
	text-align: center;
}

#footer-wrapper {
	box-shadow: inset 0 5px 4px 0 black;
	height: 51px;
}

.item-list .pager {
	float: none !important;
	width: 830px;
	margin: 20px 0 !important;
}
.item-list .pager li {
	padding: 0;
	display: inline-block;
	margin: 0 5px;
}
.pager a,
.pager-current {
	background: white;
	color: #6b6b6b;
	width: 30px;
	height: 30px;
	display: inline-block;
	line-height: 28px;
	text-align: center;
	border: 1px solid #d9d9d9;
	font-weight: bold;
	font-size: 13px;
	font-family: Arial, Helvetica, sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px;
}
.pager a:hover {
	background: #ececec;
	color: #6b6b6b;
	text-decoration: none;
}
.pager-current {
	color: white;
	background: #525353;
}
.pager-next a,
.pager-last a,
.pager-previous a,
.pager-first a {
	font-size: 16px;
}

.page-user-login .description {
	display: none;
}
.page-user-login .form-item {
	float: left;
	margin-right: 25px;
}
.page-user-login .form-item input[type='text'],
.page-user-login .form-item input[type='password'] {
	font-size: 13px;
	padding: 6px;
	border: 0;
	box-shadow: inset 0 0 5px rgba(0,0,0,.4);
}
.page-user-login .form-submit {
	text-decoration: none;
	box-shadow:0 1px 5px rgba(0,0,0,.5);
	font-size: 20px;
	text-align: center;
	background: #c02513 url(../images/bg-grad-sprite.png) repeat-x left bottom;
	color:#fff;
	border: 0;
	outline: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	margin: 0;
	padding: 10px 5px;
	cursor: pointer;
	font-family: "OswaldBold", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.free_description {
	width: 540px;
	margin-top: 10px;
}

#ui-datepicker-div {
	display: none;
}

#block-views-exp-events-page {
	display: none;
}


#loader {
	position: fixed;
	margin: 0;
	padding: 0;
	top: 50%;
	margin-top: -32px;
	left: 50%;
	margin-left: -32px;
	background: white;
	border-radius: 100px;
	width: 64px;
	height: 64px;
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	box-shadow: 0 0 5px 0 rgba(0,0,0,.5);
	overflow: hidden;

}
#loader img {
	margin: 0;
	padding: 5px;
	width: 64px;
	height: 64px;
}

.tastedc-user-register-form-wrapper .space_capacity label {font-weight: normal; float: left; margin-right: 10px;}
.tastedc-user-register-form-wrapper .space_capacity input {margin-top: -5px;}
.tastedc-user-register-form-wrapper .field-name-field-space-capacity-standing {float: left; margin-right: 20px;}
.tastedc-user-register-form-wrapper .form-item-profile-main-field-deal-sites-experience-und label {font-weight: normal;}
.tastedc-user-register-form-wrapper .form-item-profile-main-field-business-other-und-0-value label {font-weight: normal;}
.tastedc-user-register-form-wrapper .event-manager label, .pr-department label {font-weight: normal;}
.tastedc-user-register-form-wrapper .form-item-profile-main-field-pr-department-location-und label {display: none;}
.tastedc-user-register-form-wrapper .form-item-profile-main-field-pr-department-location-und label.option{display: inline;}





/* Fixing Drupal's core clearfix */
.clearfix:after {
	overflow: hidden;
}

